body {
  background: rgb(204, 204, 204);
  font-size: 1em;
  color: black;
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  padding: 50px;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  font-family: "Arial", arial, sans-serif;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}
@media print {
  body,
  page {
    margin: 0;
    box-shadow: 0;
  }
}

.texto {
  margin-top: auto;
}
.titulo {
  display: flex;
  justify-content: center;
  text-align: center;
}
.icon {
  width: 150px;
  height: 150px;
}
.tituloCont {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.square {
  width: 140px;
  height: 130px;
  border: 1px black solid;
}

.campos {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 10px;
}
.camposColuna {
  gap: 1cm;
}
